
@tailwind base;
@tailwind components;
@tailwind utilities;
  
:root{
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color:transparent
}

body{

  overflow-x: hidden;
  background-color: #04152d;
  /* background-color: #04152d; */
 /* background-image: linear-gradient(to right,#100e1b,#171635); */
  color: white;
  
}
.no-scrollbar{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none; 
}


button{
  z-index: 10;
  opacity: 0.7;
}
p{
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.dot{
  height: 20px;
  width: 20px;
  background-color: white;
  margin: 12px;
  border-radius: 50%;
  animation: 0.45s loading ease-in-out alternate infinite;
}

.dot:nth-child(1){
  animation-delay: 0.15s;
}
.dot:nth-child(2){
  animation-delay: 0.3s;
}
.dot:nth-child(3){
  animation-delay: 0.45s;
}

@keyframes loading {
  100%{
    scale: 0.2;
  }
  0%{
    scale: 1;
  }
  
}







@media screen and (max-width: 700px) {
  
  
 /* to remove the min-width: property */
  #input{
    min-width: 0;
  }
}

/* for phones */
@media screen and (max-width: 650px) {
  .detail-page{
    flex-direction: column;
    align-items: flex-start;
  }
  .details{
    margin-left: 20px;
  }
  
  .img-container{
    align-self: center;
    margin-bottom: 10px;
  }
  .logo{
    margin-left: 8px;
  }
  
}


